@charset "UTF-8";
/* ------------------------------- */


h1{
    background-color: brown;
    color: white;
    padding: 20px;
    font: normal 20pt bold;
    text-transform: uppercase;
}
















































