@charset "UTF_8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* MODO CLARO */
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #222;
    transition: background 0.3s, color 0.3s;
}
/* MODO ESCURO */
body.darkmode {
    background: #222;
    color: #fff;
}
/* ----------------------------------------------- */

header{
    width: 300px;
    background-color: red;
    justify-items: center;
    align-items: flex-start;
}

header > h1{
    
}

/* ------------CONTEUDO PRINCIPAL------------ */
form { 
    display: flexbox;
}

section#card01 {
    width: 300px;
    height: 300px;
    line-height: 60px;
    text-align: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.199);
}

input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #c2c2c2;
}

/* BOTAO MODO ESCURO */
#btnmd{
    color: white;
    border: none;
    background: none;
    border-radius: 10px;
    background-color: rgb(25, 58, 240);
}


/* BOTAO CADASTRAR */
#icadastrar{
    padding: 5px;
    font-size: 1em;
    width: 190px;
    background-color: rgb(25, 58, 240);
    border: none;
    border-radius: 5px;
    color: white;
    
}












